.OrderList table {
   table-layout: fixed;
}

.OrderList table tr {
   height: 45px;
}

.OrderList table th {
   font-size: 16px;
   font-weight: 400;
   padding-right: 20px;
}

.OrderList table td {
   padding-right: 25px;
}
