.ClientList table {
   table-layout: fixed;
}

.ClientList table tr {
   height: 45px;
}

.ClientList table th {
   font-size: 16px;
   font-weight: 400;
   padding-right: 20px;
}

.ClientList table td {
   padding-right: 25px;
}
