.CompanyList table {
   table-layout: fixed;
}

.CompanyList table tr {
   height: 45px;
}

.CompanyList table th {
   font-size: 16px;
   font-weight: 400;
   padding-right: 20px;
}

.CompanyList table td {
   padding-right: 25px;
}
