.sidebar {
   height: 100%;
   width: 25%;
   max-width: 170px;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;
   overflow-x: hidden; /* Disable horizontal scroll */
   background-color: #252c33;
}

.sidebar .app-logo {
   display: block;
   text-align: center;
   margin: 20px 0;
}

.sidebar .app-logo > img {
   width: 50px;
   filter: invert(100%);
}

.sidebar .nav-links a {
   padding: 20px 25px;
   text-decoration: none;
   font-size: 15px;
   color: #a5a5a5;
   display: block;
   transition: all 0.2s ease-out;
   display: flex;
}

.sidebar .nav-links a:hover {
   color: #fff;
   background-color: #2e3944;
}

.sidebar .nav-links a.active {
   color: #fff;
   background-color: #315c8c;
   transition: background-color 0.5s;
}

.sidebar .nav-links i {
   font-size: 20px;
   margin-right: 10px;
}
