.sidebar {
   height: 100%;
   width: 25%;
   max-width: 170px;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;
   overflow-x: hidden; /* Disable horizontal scroll */
   margin-top: 55px;
   background-color: #252c33;
}

.sidebar a {
   padding: 20px 25px;
   text-decoration: none;
   font-size: 15px;
   color: #a5a5a5;
   display: block;
   transition: all 0.2s ease-out;
   display: flex;
}

.sidebar a:hover {
   color: #fff;
   background-color: #2e3944;
}

.sidebar a.active {
   color: #fff;
   background-color: #315c8c;
   transition: background-color 0.5s;
}

.sidebar i {
   font-size: 20px;
   margin-right: 10px;
}
