.PaymentList table {
   table-layout: fixed;
}

.PaymentList table tr {
   height: 45px;
}

.PaymentList table th {
   font-size: 16px;
   font-weight: 400;
   padding-right: 20px;
}

.PaymentList table td {
   padding-right: 25px;
}
