.animated {
   transition: all 250ms ease-out;
}

.fade-hidden {
   opacity: 0;
}

.fade-visible {
   opacity: 1;
}

/* Loading Spinner */

.spinner {
   width: 40px;
   height: 40px;

   position: relative;
   margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
   width: 100%;
   height: 100%;
   border-radius: 50%;
   background-color: #333;
   opacity: 0.6;
   position: absolute;
   top: 0;
   left: 0;

   -webkit-animation: sk-bounce 2s infinite ease-in-out;
   animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
   -webkit-animation-delay: -1s;
   animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
   0%,
   100% {
      -webkit-transform: scale(0);
   }
   50% {
      -webkit-transform: scale(1);
   }
}

@keyframes sk-bounce {
   0%,
   100% {
      transform: scale(0);
      -webkit-transform: scale(0);
   }
   50% {
      transform: scale(1);
      -webkit-transform: scale(1);
   }
}

/* Loading Spinner #2 */
.lds-ring {
   display: inline-block;
   position: relative;
   width: 64px;
   height: 64px;
}
.lds-ring div {
   box-sizing: border-box;
   display: block;
   position: absolute;
   width: 51px;
   height: 51px;
   margin: 6px;
   border: 6px solid #1b57b1;
   border-radius: 50%;
   animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
   border-color: #1b57b1 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
   animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
   animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
   animation-delay: -0.15s;
}
@keyframes lds-ring {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

/* Spinner $3 */
/* .loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #3447f3;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
} */

/* Another Loader */
.loader,
.loader:before,
.loader:after {
   background: #f3f3f3;
   -webkit-animation: load1 1s infinite ease-in-out;
   animation: load1 1s infinite ease-in-out;
   width: 1em;
   height: 4em;
   border-radius: 20px;
}
.loader {
   color: #f3f3f3;
   text-indent: -9999em;
   margin: 88px auto;
   position: relative;
   font-size: 11px;
   -webkit-transform: translateZ(0);
   -ms-transform: translateZ(0);
   transform: translateZ(0);
   -webkit-animation-delay: -0.16s;
   animation-delay: -0.16s;
}
.loader:before,
.loader:after {
   position: absolute;
   top: 0;
   content: "";
}
.loader:before {
   left: -1.5em;
   -webkit-animation-delay: -0.32s;
   animation-delay: -0.32s;
}
.loader:after {
   left: 1.5em;
}
@-webkit-keyframes load1 {
   0%,
   80%,
   100% {
      box-shadow: 0 0;
      height: 4em;
   }
   40% {
      box-shadow: 0 -2em;
      height: 5em;
   }
}
@keyframes load1 {
   0%,
   80%,
   100% {
      box-shadow: 0 0;
      height: 4em;
   }
   40% {
      box-shadow: 0 -2em;
      height: 5em;
   }
}
