.main {
   padding: 15px 35px 30px;
   margin-left: 170px;
   max-width: 1300px;
}

.navbar {
   width: 100%;
   max-width: 1470px;
   height: 55px;
   top: 0;
   margin-bottom: 0;
   color: #333;
   padding-right: 0;
}

.navbar .ui.search {
   margin-left: 191px;
}

.navbar input {
   width: 390px;
   height: 34px;
}

.navbar .logout {
   padding: 8px 30px;
   margin-right: 30px;
   border-radius: 30px;
   border: 1px solid gainsboro;
   cursor: pointer;
   transition: all 200ms ease-out;
}

.navbar .logout:hover {
   background-color: #efefef;
}

tr.selected {
   background-color: #cbcbcb !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   /* margin: 0;  */
}

/* General Styles */
h2 {
   font-weight: 400;
   font-size: 25px;
}

h3 {
   font-weight: 400;
   font-size: 18px;
}

h4 {
   font-weight: 400;
   font-size: 15px;
}

/* Bootstrap */

/* Modal */
.modal-dialog-centered {
   align-items: flex-start;
   margin-top: 100px;
}

/* Bootstrap Override */

.card {
   padding: 30px;
   border: 0;
   border-radius: 3px;
   box-shadow: #ddd 0px 0px 5px;
}

.full-height {
   min-height: 83vh;
}

.form-control:focus {
   box-shadow: none;
}

table {
   width: 100%;
   table-layout: fixed;
   font-family: "Roboto", sans-serif;
}

table.hover tbody tr:hover {
   background-color: #f6f6f6;
}

table.clickable tbody tr {
   cursor: pointer;
}

table tr {
   height: 60px;
}

table th {
   font-size: 18px;
   font-weight: 300;
   color: #555;
}

table td {
   font-size: 14px;
   color: #444;
   border-top: 1px solid #ddd;
   font-weight: 300;
   padding: 0 5px;
   overflow: hidden; /* 1 of 3 for hiding text exceeding cell width */
   white-space: nowrap; /* 2 of 3 */
   text-overflow: ellipsis; /* 3 of 3 */
}

/* Section */

.section {
   margin-top: 20px;
   border: 1px solid #ddd;
   padding: 20px;
   border-radius: 5px;
   /* width: 250px; */
   /* min-width: 250px; */
   margin-right: 20px;
}

/* Table (Small) */

table.small tr {
   height: 40px;
}

table.small th {
   font-size: 14px;
   font-weight: 400;
   color: #555;
}

/* Semantic UI Override */

.ui.form .field > label {
   font-family: "Roboto";
   font-weight: 400;
}

.ui.button {
   padding: 10px 20px;
   margin-right: 10px;
   min-width: 100px;
}

.ui.button:last-of-type {
   margin-right: 0;
}

.ui.button,
.ui.button i {
   font-size: 13px;
}

.ui.button i.material-icons {
   margin-right: 6px;
   position: relative;
   top: 2px;
}

.ui.button,
.ui.basic.button {
   border-radius: 30px;
}

.ui.green.button {
   background-color: #1da36b;
}

.ui.green.button:hover,
.ui.green.button:focus {
   background-color: #1eb676;
}

.ui.green.button:active {
   background-color: #1eb676;
}

/* Utility */
.text-center {
   text-align: center;
}

/* Print */

@media print {
   nav,
   .sidebar,
   .toolbar {
      display: none !important;
   }

   .pusher {
      margin-left: 0;
   }

   .main {
      background-color: #fff;
   }
}

@page {
   margin: 200px;
}

/* Date Range Picker */

.InputFromTo .DayPickerInput-OverlayWrapper {
   top: 42px;
   left: -183px;
}

.InputFromTo .DayPickerInput-Overlay {
   width: 550px;
}

.DayPickerInput .DayPicker-Day {
   border-radius: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
}

/* Track */
::-webkit-scrollbar-track {
   background: #f7f7f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #b0b0b0;
   border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: rgb(158, 158, 158);
}

/* React Select */

.Select__control {
   border-color: gainsboro !important;
   background-color: #fff !important;
   box-shadow: none !important;
   cursor: text !important;
}

.Select__control:hover {
   border-color: #adadad;
}
