body {
   background-color: #e6ecf0;
   background-color: #f7f8f9;
}

/* Nav */

.navbar {
   margin-bottom: 1rem;
}

.navbar a {
   font-weight: bold;
}

.navbar li:hover {
   color: white;
   text-decoration: underline;
   cursor: pointer;
}

.navbar-brand > img {
   display: inline-block;
   width: 50px;
   border-radius: 2px;
   margin-bottom: 2px;
   margin-right: 5px;
   filter: invert(100%);
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
}

.onboarding > .navbar {
  background-color: #414141;
}