.ClientTags .tag-select__control {
   border-color: gainsboro;
   box-shadow: none;
   background-color: #fff;
   cursor: text;
}

.ClientTags .tag-select__control:hover {
   border-color: #adadad;
}

.ClientTags .client-tag {
   background-color: #e9e9e9;
   font-size: 13px;
   padding: 5px 7px 5px 13px;
   border-radius: 5px;
   display: inline-block;
   margin: 0px 15px 12px 0;
   border: 1px solid gainsboro;
}

.ClientTags .client-tag .category {
   color: #808080;
   margin-right: 10px;
}

.ClientTags .client-tag i.x {
   color: #bcbcbc;
   margin-left: 5px;
   font-size: 12px;
   cursor: pointer;
}

.ClientTags .Select .Select-control {
   cursor: text;
}
